MuleProjects/accountcustomerapikit/target/classes/accountcustomer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <db:mysql-config name="MySQL_Configuration" host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.database}" doc:name="MySQL Configuration"/>
    <flow name="accountcustomerFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * 
from flights_customers]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="262b34ca-5f1d-4df7-92a2-23e47c9f24c1">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: payload01.name,
	lastName: payload01.name,
	address: payload01.street ++ payload01.city ++ " " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: payload01.creationDate as :string,
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="accountcustomerByIDFlow">
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * 
from flights_customers
where accountID = #[message.inboundProperties.'http.uri.params'.ID]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="6dd2d21a-c0ff-438e-9733-69e3ac9cbda8">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	id: payload01.accountID,
	firstName: payload01.name,
	lastName: payload01.name,
	address: payload01.street ++ payload01.city ++ " " ++ payload01.state,
	postal: payload01.postal,
	country: payload01.country,
	creationDate: payload01.creationDate as :string,
	accountType: payload01.accountType,
	miles: payload01.miles
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="accountcustomerPOSTFlow">
        <set-payload value="#[&quot;message&quot;:&quot;SuccessFully inserted but not really&quot;]" doc:name="Set Payload"/>
    </flow>
</mule>
